/* Header and control styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #2A3F54; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.controls {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

/* Email content styles */
.email-content {
  margin-top: 20px;
  border: 1px solid #B0BEC5; 
  padding: 15px;
  background-color: #ECEFF1; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.email-content h2 {
  color: #464a4d; 
  border-bottom: 3px solid #29B6F6; 
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.email-content div {
  margin-top: 15px;
  padding: 15px;
  background-color: white;
  border-left: 6px solid #29B6F6; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
  
.email-content h3 {
  color: #0277BD; 
  margin-bottom: 8px;
}
  
.email-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #546E7A; 
}


div {
  width: 100%; 
}

select, button {
  font-size: 16px;
  padding: 8px px;
  border-radius: 4px;
  background-color: #ECEFF1; 
  color: black; 
  cursor: pointer; 
  margin-top: 20px;
  margin-bottom: 20px;
}
